:root {
  --body-padding: 25px;
}

body {
  font-family: "TimesNewRoman7";
  background-color:grey;
  /* position: absolute; */
  /* display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  /* position: fixed; */
  width: 100%;

  font-feature-settings: "lnum";
  padding-top: var(--body-padding);
}





.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1;
  width: 100%;
  height: 100%;
}


.returnContainer {
  pointer-events: none;
  z-index: 1000;
  width:100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.return {
  pointer-events: all;
  z-index: 1000;
  position: relative;
  top: 50%;
  align-self: center;
  text-align: center;
}

.return:hover {
  color:blue;
}

img {
  width: 100%;
}


.imageGrid {
    padding-top: var(--body-padding);
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(20, auto);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    transition: background-color 0.2s;

}

p {
  /* text-decoration-skip-ink:none; */
}

.textGrid {


  opacity: 0;
  transition: opacity 0.2s;

  color: rgb(147, 147, 147);
  font-size: 10pt;
  text-decoration: underline;

  pointer-events: none;
  display: grid;

  position: fixed;
  width:100vw;
  height: 100vh;

  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(40, 1fr);
  grid-column-gap: 20px;
 
}

svg:hover .returnContainter {
  display: none;
}


.left {
  top: 35vh;
  position: fixed;
  z-index: 100;
  text-align: center;
  vertical-align: center;
  align-self: center;
  width: 20vw;
  stroke: white;
  stroke-width: 2px;
  left: 15vw;
}

.left:hover {
  color: blue;
  fill: blue;
}

.left:hover ~ .right {
  opacity: 0;
}

.left:hover ~ .imageGrid .A_img {
  transition: opacity 0.2s ease-in;
  opacity: 1;
}

.left:hover ~ .imageGrid {
  transition: background-color 0.2s;
  background-color: black;
}

.left:hover ~ .textGrid {
  transition: opacity 0.2s;
  opacity: 1;
}



.right {
  position: fixed;
  z-index: 100;
  text-align: center;
  vertical-align: center;
  align-self: center;
  right: 15vw;
  top: 35vh;
  width: 20vw;
}

.right:hover {
  fill: blue;
  color: blue;
}

.right:hover ~ .left {
  opacity: 0;
}

.right:hover ~ .imageGrid .B_img {
  transition: opacity 0.2s;
  opacity: 1;
}

.right:hover ~ .imageGrid {
  transition: background-color 0.2s;
  background-color: white;
}

.right:hover ~ .imageGrid .B_infoGrid {
  opacity: 1;
  transition: opacity 0.2s;
}



.B_img {
  z-index: 200;
  opacity: 0;
  grid-column: 1 / 6;
  pointer-events: none;

  transition: opacity 0.13s;

}

.A_img {
  z-index: 200;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.05s;
  grid-column: 4 / 9;
}

.B_infoGrid {
    transition: opacity 0.2s;

    color: black;
    opacity: 0;

    font-size: 9pt;
    line-height: 10.5pt;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1px);
    row-gap: 20px;

    text-align: left;
    column-gap: 10px;
    grid-column: 6 / span 3;
}

.B_infoGrid .B_title {
    grid-column: 2 / 5;
    text-decoration: underline;
    text-transform: uppercase;
}

.B_infoGrid .B_time {
    grid-column: 6 / 8;
    text-decoration: underline;
    text-transform: uppercase;

}

.B_infoGrid .B_index {
    grid-column: 1;
    text-decoration: underline;

}

.B_infoGrid .B_description {
    text-decoration: none;
    text-align: justify;
    grid-row: 2;
    grid-column: 2 / 8;
}